      <form class="form-card" method="post" action="/">
{erro}
        <input
          class="form-card-title"
          type="text"
          name="titulo"
          placeholder="Título"
          value="{titulo}"
        />
        <textarea
          class="autoresize"
          name="detalhes"
          placeholder="Digite o conteúdo..."
        >{detalhes}</textarea>
        <button class="btn" type="submit">Criar</button>
      </form>

      <div class="card-container">
{notes}
      </div>
